body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(23,21,6);
  color: beige;
}

.logo {
  font-size: 30px;
  text-decoration: none;
}

#contact-photo {
  max-width: 500px;
}


#form-submit {
  color: rgba(23,21,6);
  background-color: rgb(197, 129, 33);
}

.project-image {
  max-width: 500px
}


